@charset "UTF-8";
body div a {
  margin-top: 1%;
}

body._contactanos-BG {
  background: linear-gradient(135deg, rgb(211, 231, 214) 50%, rgb(235, 235, 235) 50%);
}

body._questions-BGcolor {
  background: linear-gradient(135deg, rgb(211, 231, 214) 50%, rgb(235, 235, 235) 50%);
}

@media (min-width: 780px) {
  nav div h1 {
    color: rgb(160, 206, 141) !important;
  }
  nav ul li a:hover {
    background-color: linear-gradient(45deg, rgb(181, 233, 158)) !important;
    transform: scale(1.2, 1.2);
    color: rgb(153, 155, 32) !important;
  }
  nav div._Logo-Nav {
    background-image: url(../img/CosyproLogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 64px;
    width: 128px;
  }
}
@media (max-width: 780px) {
  nav div h1 {
    color: rgb(160, 206, 141) !important;
  }
  nav ul li a:hover {
    background-color: linear-gradient(45deg, rgb(181, 233, 158)) !important;
    transform: scale(1.2, 1.2);
    color: rgb(153, 155, 32) !important;
  }
}
@media (min-width: 780px) {
  header div {
    width: 150px !important;
    margin-left: -12%;
  }
  header div h1 {
    color: aquamarine;
  }
  header h1._questions-Title {
    font-family: "Dancing Script", cursive;
    color: #000000;
    margin: 50px;
    font-weight: bold;
  }
}
@media (max-width: 780px) {
  header div {
    width: 150px !important;
    margin-left: -12%;
  }
  header div h1 {
    color: aquamarine;
  }
  header h1._questions-Title {
    font-family: "Dancing Script", cursive;
    color: #000000;
    margin-top: 30px;
    font-weight: bold;
  }
}
@media (min-width: 780px) {
  section div._Card-Img1 {
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    background-image: url(../img/molde.png);
    margin-top: 5%;
    margin-left: 2%;
  }
  section div._Card-Img2 {
    background-image: url(../img/Torción21.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    margin: 5%;
  }
  section div._Card-Img3 {
    background-image: url(../img/25a.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    margin-top: 5%;
    margin-right: 2%;
  }
  section iframe {
    margin-top: 2%;
  }
  section._contactanos-Contenedor {
    height: 100vh;
  }
  section._heightContactanos {
    height: 100vh;
  }
  div h6 {
    margin-left: 5%;
    font-family: "Dancing Script", cursive;
    font-family: "Didact Gothic", sans-serif;
  }
}
@media (max-width: 780px) {
  section div._Card-Img1 {
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    background-image: url(../img/molde.png);
  }
  section div._Card-Img2 {
    background-image: url(../img/Torción21.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    margin: 10% 0%;
  }
  section div._Card-Img3 {
    background-image: url(../img/25a.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    margin-bottom: 10%;
  }
  section._contactanos-Contenedor {
    height: 95vh;
  }
  section._heightContactanos {
    height: 95vh;
  }
  div h6 {
    margin-left: 5%;
    font-family: "Dancing Script", cursive;
    font-family: "Didact Gothic", sans-serif;
  }
}
@media (min-width: 780px) {
  article.art1 {
    background-image: url(../img/CamiónCargado.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    margin: 2%;
    margin-left: 1%;
  }
  article.art2 {
    background-color: rgb(255, 255, 255);
    height: 400px;
    margin: 2%;
    margin-top: 8%;
  }
  article ul {
    width: 300px;
  }
  article ul li {
    list-style: none;
  }
  article ul li i.fa-facebook {
    color: rgb(28, 110, 148);
  }
  article ul li i.fa-instagram {
    color: rgba(207, 131, 207, 0.808);
  }
  article ul li i.fa-google {
    color: rgb(211, 134, 103);
  }
  article ul li i {
    width: 100px;
    margin-top: 50px;
    color: blueviolet;
    font-size: 64px;
  }
  article ul li i:hover {
    margin-left: 50px;
  }
  article div._fontParrafo p {
    font-family: "Dancing Script", cursive;
    font-family: "Didact Gothic", sans-serif;
    width: 600px;
    margin-top: 60px;
  }
  article div._fontInterbloque {
    margin-top: 3%;
    font-size: 3em;
    background-color: rgb(181, 233, 158);
    height: 150px;
    font-family: "Dancing Script", cursive;
    font-family: "Didact Gothic", sans-serif;
  }
  article div._fontParrafo h4 {
    margin-top: 5px;
    color: #ab644b;
  }
  article div h2 {
    color: rgb(94, 94, 94);
    margin-left: 1%;
  }
  article div svg {
    color: rgb(94, 94, 94);
  }
  article div.alto {
    height: 300px;
  }
  article div._questions-MarginTop {
    margin-top: 15%;
  }
  article div._questions-MarginTop svg {
    color: white;
    background-color: rgb(158, 214, 158);
    border-radius: 20px;
  }
  article div h3 {
    font-family: "Dancing Script", cursive;
    font-family: "Didact Gothic", sans-serif;
  }
  article._cosypro-ImgPrincipal {
    height: 600px;
    background-image: url(../img/fabrica.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 780px) {
  article.art1 {
    background-image: url(../img/CamiónCargado.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    height: 250px;
  }
  article.art2 {
    background-color: rgb(255, 255, 255);
  }
  article ul {
    width: 300px;
  }
  article ul li {
    list-style: none;
  }
  article ul li i.fa-facebook {
    color: rgb(28, 110, 148);
  }
  article ul li i.fa-instagram {
    color: rgba(207, 131, 207, 0.808);
  }
  article ul li i.fa-google {
    color: rgb(211, 134, 103);
  }
  article ul li i {
    width: 100px;
    margin-top: 50px;
    color: blueviolet;
    font-size: 64px;
  }
  article ul li i:hover {
    margin-left: 50px;
  }
  article div._fontParrafo p {
    font-family: "Dancing Script", cursive;
    font-family: "Didact Gothic", sans-serif;
    width: 96vw;
    margin-top: 10px;
  }
  article div._fontInterbloque {
    margin-top: 1%;
    font-size: 3em;
    background-color: rgb(181, 233, 158);
    height: 150px;
    font-family: "Dancing Script", cursive;
    font-family: "Didact Gothic", sans-serif;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  article div._fontParrafo p span {
    font-size: 1.2em;
    color: #ab644b;
  }
  article div._fontParrafo h4 {
    display: none;
    opacity: 0;
    margin-top: 1px;
    color: #ab644b;
  }
  article div h2 {
    color: rgb(94, 94, 94);
    margin-left: 1%;
  }
  article div svg {
    color: rgb(94, 94, 94);
  }
  article div.alto {
    height: 300px;
  }
  article._cosypro-ImgPrincipal {
    height: 200px;
    background-image: url(../img/fabrica.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  article.redes {
    display: hidden;
    opacity: 0;
    height: 0px;
  }
  div._questions-MarginTop {
    margin-top: 15%;
  }
  div._questions-MarginTop svg {
    color: white;
    background-color: rgb(158, 214, 158);
    border-radius: 20px;
  }
  div h3 {
    font-family: "Dancing Script", cursive;
    font-family: "Didact Gothic", sans-serif;
  }
}
@media (min-width: 780px) {
  footer {
    color: rgb(71, 71, 71);
    font-size: 3em;
    background-color: rgb(137, 180, 118);
    height: 150px;
    font-family: "Dancing Script", cursive;
    font-family: "Didact Gothic", sans-serif;
  }
  footer div p {
    font-family: "Didact Gothic", sans-serif;
    font-size: 0.29em;
  }
  footer a {
    text-decoration: none;
    color: rgb(212, 211, 211);
  }
  footer a:hover {
    color: beige;
  }
}
@media (max-width: 780px) {
  footer {
    color: rgb(71, 71, 71);
    font-size: 3em;
    background-color: rgb(137, 180, 118);
    height: 150px;
    font-family: "Dancing Script", cursive;
    font-family: "Didact Gothic", sans-serif;
    height: 100vh;
  }
  footer div p {
    font-family: "Didact Gothic", sans-serif;
    font-size: 0.29em;
  }
}
@media (min-width: 780px) {
  main._contactanos-IMG {
    height: 70vh;
    background-image: url(../img/empleado.png);
    background-size: cover;
    filter: brightness(2);
  }
  main._height {
    height: 100vh;
  }
}
@media (max-width: 780px) {
  main._contactanos-IMG {
    background-image: url(../img/empleado.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 40vh;
  }
  main._height {
    height: 100vh;
  }
}
@media (min-width: 780px) {
  aside {
    background-color: rgb(248, 248, 248);
    height: 70vh;
  }
  aside h1 {
    font-family: "Dancing Script", cursive;
  }
  aside h1.m-top5 {
    margin-top: 5%;
  }
  aside div.m-top10 {
    margin-top: 10%;
  }
}
@media (max-width: 780px) {
  aside {
    background-color: rgb(248, 248, 248);
    height: 90vh;
  }
  aside h1 {
    font-family: "Dancing Script", cursive;
  }
  aside h1.m-top5 {
    margin-top: 10%;
  }
}

/*# sourceMappingURL=style.css.map */
