body{
    div{
        a{
                    margin-top: 1%;   
        }
    }
}
body._contactanos-BG{
    background: $_BGcolorQuestion;
}
body._questions-BGcolor{
    background:  $_BGcolorQuestion;
}
