@media (min-width: 780px){
    header{
        margin-bottom: 5%;
        div{
            width: 150px !important;
            margin-left: -12%;
            h1{
                color: aquamarine;
            }
        }
    }
}

@media (max-width: 780px){
   header{
    height: 200px;
        div{
            width: 150px !important;
            margin-left: -12%;
            h1{
                color: aquamarine;
            }
        }
    }
}

