@media (min-width: 780px){
    main._contactanos-IMG{
        height:70vh;
        background-image: url(../img/empleado.png);
        background-size: cover;
        filter: brightness(2);
    }
    main._height{
        height: 100vh;
    }    
}
@media (max-width: 780px){
    main._contactanos-IMG{
        background-image: url(../img/empleado.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 40vh;
    }
    main._height{
        height: 100vh;
    }    
}