@media (min-width: 780px){
    main._contactanos-IMG{
        height:70vh;
        background-image: url(../img/empleado.webp);
        background-size: cover;
        filter: brightness(2);
    }
    main._height{
        height: 100vh;
    }    
    main._producto-banner{
        height: 600px;
        background-image: url(../img/1.jpg);
        background-size: cover;
        background-repeat: no-repeat;   
    }
}
@media (max-width: 780px){
    main._contactanos-IMG{
        background-image: url(../img/empleado.webp);
        background-size: contain;
        background-repeat: no-repeat;
        height: 40vh;
    }
    main._height{
        height: 100vh;
    }    
}