@mixin cardIMG-desktop{
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}
@mixin cardIMG-mobie{
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}
@mixin __interBloqueS{
    color: rgb(71, 71, 71);;
    font-size: 3em;
    background-color: rgb(137, 180, 118);
    height: 150px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Didact Gothic', sans-serif;
}
@mixin _h1Title{
    font-family: $_fontTitle;
}