@media (min-width: 780px){
    section{   
        div._Card-Img1{            
            @include  cardIMG-desktop();
            background-image: url(../img/molde.png);
            margin-top: 5%;
            margin-left: 2%;
        }
        div._Card-Img2{
                    background-image: url(../img/Torción21.png);
                    @include  cardIMG-desktop();
                    margin: 5%;
        }
         div._Card-Img3{
            background-image: url(../img/25a.png);
            @include  cardIMG-desktop();  
            margin-top: 5%;
            margin-right: 2%;         
         }
         iframe{
            margin-top: 2%;
         }
    }
    section._contactanos-Contenedor{
        height:100vh;
   }
   section._heightContactanos{
        height: 100vh;
    }
    div{
        h6{
            margin-left: 5%;
            font-family: $_fontTitle;
            font-family: $_font-Sans-serif;
        }
    }   
}
@media (max-width: 780px){
    section{   
        div._Card-Img1{            
            @include  cardIMG-mobie();
            background-image: url(../img/molde.png);
          
        }
        div._Card-Img2{
                    background-image: url(../img/Torción21.png);
                    @include  cardIMG-mobie();
                    margin: 10% 0%;
                   
        }
         div._Card-Img3{
            background-image: url(../img/25a.png);
            @include  cardIMG-mobie();  
            margin-bottom: 10%;
              
         }
    
    }
    section._contactanos-Contenedor{
        height:95vh;
    }
    section._heightContactanos{
        height: 95vh;
    }
    div{
        h6{
            margin-left: 5%;
            font-family: $_fontTitle;
            font-family: $_font-Sans-serif;
        }
    } 
}
