//color
$_GradienteContactanos: linear-gradient(90deg, rgba(48,13,2,0.9780287114845938) 22%, rgba(85,32,8,0.9976365546218487) 58%, rgba(120,81,18,1) 83%);
$_BGColorFondo:  rgb(248, 248, 248);
$_BGcolorQuestion: linear-gradient(135deg,rgb(211, 231, 214) 50%,rgba(235,235,235,1) 50%);

//margin 
$mt-10porciento: 10%;
$m-50: 50px;
$mt-15porciento: 15%;
$mt-30: 30px;


//Fonts
$_fontTitle: 'Dancing Script', cursive;
$_font-Sans-serif: 'Didact Gothic', sans-serif;